/* BUGS 
All bugs can be fixed by checking out easy community for Memebers only
Search
Nav effects
Quote Marks
Get in touch icons .fa not fully designed
  */
*{
    margin: 0;
    padding: 0;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 30px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #007bff!important;
}
/* Hover crimson color start*/
/* #nav-bar ul li a::before,
#nav-bar ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: crimson;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}
#nav-bar ul li a::before{
    top: 0;
    transform-origin: left;
}
#nav-bar ul li a::after{
    bottom: 0;
    transform-origin: right;
}
#navbar-nav ul li a:hover::before,
#navbar-nav ul li a:hover::after{
    transform: scaleX(1);
} */
/* Hover crimson color End */

.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 300;
    font-size: 16px;
}
/*---Slider---*/
#slider{
    width: 100%;    
}
.carousel-caption-welcome{
    top: 50%;
    transform: translateY(-50%);
    /* float:left; */
    bottom: initial !important;
}
#slider .carousel-caption h2{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 1px;
}
#slider .carousel-caption h3{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#slider .carousel-caption h2::after{
    content: '';
    background: #00ff4c;
    display: block;
    height: 3px;
    width: 200px;
    margin: 5px auto 5px;
}
#slider .carousel-caption h2:hover::after{
    content: '';
    background: #00eeff;
    display: block;
    height: 3px;
    width: 350px;
    margin: 5px auto 5px;
    transition: all 1.5s ease;
    cursor: progress;
}
.carousel-caption h5{
    color: #fff;
    font-size: 42px;
}
/*-----------About----------- */
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 16px;
}
#about .btn:hover{
    background-color: rgb(83, 218, 49)!important;
}
.about-content{
    padding-top: 20px;
}
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}
/*-------------About End------------- */

/* -------------events------------- */
#events{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url(/img/events/finalists_william.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#events h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#events h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 175px;
    margin: 20px auto 5px;
}
.events{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 15px;
    height: 80px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
    align-items: center;
}
#events p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.events .col-md-3:hover{
    background-color: #16b4e4fd;
    cursor: pointer;
    transition: 1.2s;
    border-radius: 20px;
}
/* ------------Executives------------ */
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 300px;
    margin: 20px auto 5px;
}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{
    filter: grayscale(1);
    border-radius: 50%;
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transform: 0.5s;
}
/* ------------Executives End---------*/
/* ------------ Learn With Us Section------------*/
#promo{
    background-image: linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),url(/img/learn_with_us/suolo_kioko.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}
#promo h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#promo h1::after{
    content: '';
    background: #00ff4c;
    display: block;
    height: 3px;
    width: 350px;
    margin: 20px auto 5px;
}
/* ------------ Learn With Us Section End------------*/
/* ------------Projects and plans------------*/
#project h1{
    text-align: center;
    color: #3f3a3a !important;
    padding-bottom: 10px;
}
#project h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 150px;
    margin: 20px auto 5px;
}
#project{
    padding: 40 0;
    background: #efefef;
}
.single-project{
    border-radius: 15px;
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-project:hover{
    box-shadow: 0 2px 20px #333;
}
.project-head{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.project-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    /* text-transform: uppercase;
     */
}
.project-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#project span{
    font-size: 15px;
}
/* -----project content--- */
.project-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.project-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
/* -----project content end--- */
/* ------ project button----- */
.project-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width:100%;
}
.join-btn{
    background-color: #2196f3;
    border-radius: 30px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.join-btn:hover{
    border-color: 1px solid #fff;
    background-color: rgb(226, 158, 33);
}
a{
    text-decoration: none !important;
}
/* ------------Testimonials------------*/
#testimonials{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials h1{
    text-align: center;
    color: #3f3a3a !important;
    padding-bottom: 10px;
}
#testimonials h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#testimonials .row{
    margin-top: 30px;
}
.col-md-3{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* Positioning the profile pic at the testimonials in the center */
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span{
    font-size: 12px;
    color: #333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}

/* Fix Bug in the quotations marks in the testimonials section(01:26:15) */

blockquote::before{
    content: '\93'; /*--opening quote icon--*/
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after{
    content: '\94'; /*--opening quote icon--*/
    font-size: 50px;
    color: #007bff;
    position: relative;
    font-family: 'FontAwesome';
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
/* Fix Bug in the quotations marks in the testimonials section End*/
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
/* ------------Testimonials End------------*/
/* ------------Footer Above------------*/
#contact{
    background:  #1f3f97 !important;
    color: #fff;
    padding: 12px;
}
/*  */
#contact h1{
    text-align: center;
    color: #fdfdfd !important;
    padding-bottom: 10px;
}
#contact h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#contact{
    background-color: #efefef;
    padding-top: 10px;
    padding-bottom: 0px;
    columns: #777;
}
/*------- Align the quick links content to the centre -------*/
.contact-info ul a{
    padding: .5px;
}
/*------- Align the quick links content to the centre end-------*/
.form-control{
    border-radius: 20px !important;
    border: #66e05b !important;
}
.form-group::placeholder{
    color: rgb(124, 117, 117) !important;
}
#contact .btn{
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 16px;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    columns: #007bff;
    font-weight: bold;
}

.footer .footer-content .links ul a{
    display: block;
    margin-bottom: 10px;
    color: white;
    font-size: 1.2em;
    transition: all .3s;
}
.footer .footer-content .links ul a:hover{
    color: rgb(219, 228, 87);
    margin-left: 18px;
    transition: all .3s;
}
/*---------------Footer Above ---------------*/
/*---------------Footer Bottom---------------*/
#footer{
    background:  rgb(22, 44, 107);
    color: #fff;
    padding: 12px;
}
/*---------------Footer---------------*/
