@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
nav{
    position: fixed;
    width: 65px;
    margin-top: 150px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .4);
}
nav li{
    height: 60px;
    position: relative;
}
nav li a{
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .4s ease-in-out;
}
nav li:nth-child(1) a{
    background: #4267B2;
}
nav li:nth-child(2) a{
    background: #1DA1F2;
}
nav li:nth-child(3) a{
    background: #2867B2;
}
nav li:nth-child(4) a{
    background: #333;
}
nav li:nth-child(5) a{
    background: #25d366;
}
nav li:nth-child(6) a{
    background: #e72b35;
}
nav li a i{
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
}
nav li a span{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
}
nav li a:hover{
    z-index: 1;
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}
nav li a:hover span{
    display: block;
    padding-left: 30%;
}